#header-main {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    
}

#headerimg{
    width: 100%;
    height: 100%;
}

#story {
    background-color: #fff;
    height : 420vh;
    width : 100%;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: space-between;
}

#storydesc {
    width : 100%;
    height : 20%;
   
    font-weight: 200;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

.storypara{
    display: block;
    text-align: center; 
    position: relative; 
    opacity: 1; 
    transform: matrix(1, 0, 0, 1, 0, 0);

}

#mission {
    width : 100%;
    height : 40%;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
}
#missionheadinganddesc{
    width: 50%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 130px;
}

#head {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: 200;
}

#descmission {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: gray;
    line-height: 2;

}

#onlyimgmission{
    width : 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 130px;
}  

#missionimg {
    width : 700px;
    height : 900px;
    position: relative;
    right: 90px;
}


.missionpara{
    display: block; 
    text-align: start; 
    position: relative; 
    opacity: 1; 
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#bayimg {
    width : 100%;
    height : 100%;
   
    position: relative;
    top : -300px;
}

#imgbay {
    
    height: 90%;
    width : 90%;
    position: relative;
    top : 250px;
    left: 80px;
    opacity: 1;
}

#differencecarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 80px;
    
}

#differencecarousel{
    width: 100%;
    height: 70%;
    
    overflow: hidden;
}

#diffheading {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    position: relative;
    right  : 50px;
    left: 200px;
}

#leftbutton {
    display: inline;
    padding: 20px;
    position: relative;
    left: 100px;
    top : 60px;
    background-color: #fff;
    border-radius: 90px;
    margin-left: 40px;
    box-shadow: 0 8px 14px 0 rgb(0 0 0 / 15%);
}

#rightbutton {
    display: inline;
    padding: 20px;
    position: relative;
    left: 130px;
    top : 60px;
    background-color: #fff;
    border-radius: 90px;
    box-shadow: 0 8px 14px 0 rgb(0 0 0 / 15%);
}

#leftbutton:hover,#rightbutton:hover,#left:hover {
    background-color: gray;

}


#leftarrow,#rightarrow {
    width: 30px;
    height: 30px;
    position: relative;
    top :10px;

}

#rightarrow {
    
    transform: rotateZ(180deg);
}

#carouselbuttonsexplore{
    position: relative;
    left: 600px;
    bottom: 40px;
   
}

.dis-but{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#design {
    padding-top: 20px;
    height : 250vh;
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#designimg { 
    width : 100%;
    height : 46%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#imgd {
    width : 100%;
    height: 110vh;
    will-change: transform;
    opacity: 1;
}

#discoverydesign  {
    
    width : 100%;
    height : 40%;
    position: relative;
    bottom : 140px;
    display: flex;
    flex-direction: row;
}

#imgd1 {
    width : 60%;
    height: 90%;
}

#onlyimgdesign {
    
    width : 50%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgandescdesign  {
    
    display: flex;
    flex-direction: column;
   
    
    width : 50%;
    height : 100%;
   
}

#dcon {
    
    position: relative;
    top : 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#designheading {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    bottom: 300px;
    padding-right: 165px;
}

#designdesc {
    padding-top: 20px;
    padding-right: 50px;
    position: relative;
    bottom : 50px;
    width : 50%;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    line-height: 1.3;
}

#imgd2 {
    width : 80%;
    padding-left: 50px;
    
}

#imgd3 {
    position: relative;
    width: 100%;
    height: 110vh;
    will-change: transform;
    opacity: 1;
}

#discoverybuilders {
    height : 140vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    top : 100px;
}

#buildersdescandimg {
    width : 50%;
    height : 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

#buildercon {
    width : 80%;
    height : 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top : 130px;
}

#buildersimg  {
    width : 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buildheading  {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

#builderdesc {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: grey;
    width : 60%;
    position: relative;
    left : 55px;
}

#imgd4 {
    position: relative;
    top : 40px;
    width : 550px;
    left : 70px;
}

#imgd5 {
    width : 500px;
    height: 60%;
}

#ourworldscard {
    height: 70vh;
    width : 100%;
    background-color: #fff;
}

#imgourworld {
    width : 100%;
    height : 100%;
}

#ourworldsimghead {

    position: relative;
    bottom : 350px;
    left: 590px;
    color: #fff;
    font-size: xxx-large;
}

#exploreourworld {
    position: relative;
    bottom : 370px;
    left : 645px;
    font-size: x-large;
    color : white;
    border: 2px solid white;
    padding : 8px;
}





