.header-main {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    
}

.header-main video{
    width: 100%;
    -o-object-fit:cover;
    object-fit:cover
}

.c-site-head__logo {
    bottom: 650px;
    display: block;
    pointer-events: all;
    cursor: pointer;
    z-index: 2;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
    
.c-site-head__logo img{
    width: 12%;
}

#expdescandexculsiveworld {
    background-color: #fff;
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

#expintro {
    
    width : 100%;
    height : 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#expstory {
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    font-size: xx-large;
    width : 50%;
    line-height: 2;
}

#yourworlddesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#yourworld {
    height: 50%;
    width : 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 0;
}

#headingoneyworld, #headingtwoworld {
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    font-size: xx-large;
}

#headingoneyworld {
    position: relative;
    top :80px;
    right: 40px;
}

#headingtwoworld{
    position: relative;
    bottom: 60px;
    right: 50px;
}

#yourworldpara {
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: large;
    line-height: 2;
    width: 50%;
    position: relative;
    left: 60px;
    bottom : 180px
}

#yourworldimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yimg {
    width : 560px;
}

#yourworlddesc {
    width : 50%;
    height : 100%;
}

#experienceall  {
    height: 300vh;
    width : 100%;
    background-color: rgb(241, 234, 234);
    display: flex;
    flex-direction: column;

}

#yourworldimg {
    width : 50%;
    height : 100%;
}

#golf {
    width : 100%;
    height : 120vh;
}   

.imgexp {
    height: 90%;
    z-index: 4;
}

.aboutexp {
    background-color: white;
    width : 550px;
    height: 500px;
    position: relative;
    left: 900px;
    bottom : 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingexp {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: xx-large;
    position: relative;
    top : 80px;
    right: 149px;
}

.expdescfull {
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: large;
    line-height: 1.4;
    width: 70%;
    position: relative;
    top : 100px;
}

.greybox {
    background-color: lightgray;
    height : 5%;
    width : 50%;
    position: relative;
    bottom: 503px;
    z-index: 0;
    left: 427px;    
}

.greyboxlinear {
    background-color: lightgray;
    height :23%;
    width : 4.5%;
    position: relative;
    bottom : 745px;
    left : 1118px;
}

#pimg {
    position: relative;
    left : 380px;
    width : 75%;
    height: 60%;    
}

#pexp {
    z-index: 1000;
    left: 134px;
    position: relative;
    top : -650px;
}

#phead{
    left: 1px;
}

#pg {
    position: relative;
    left: 380px;

}

#pl{
    background-color: lightgray;
    height: 20%;
    width: 4.5%;
    position: relative;
    bottom: 770px;
    left: 312px;
    
}

#wexp {
    position: relative;
    left : 900px;
    top : -740px;
}

#wellness{
    width: 100%;
}

#wimg {
    width :70%;
    height: 60%;
}

#wl {
    position: relative;
    left : 1063px;
    height : 20.5%;
    bottom: 805px;
}

#wg {
    width : 46.4%;
}

#phead {
    position: relative;
    left : -45px;
}

#ourworld {
    height : 70%;
    width : 100%;
}

#ourimg {
    width : 100%;
    height : 100%;
}

#exploreworld {
    border : 2px solid seashell;
    height : 18%;
    width : 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    left : 750px;
    bottom : 250px;
    align-items: center;
    justify-content: center;
}

#exp {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: large;
    color: seashell;
}

#hourworld {
    color: seashell;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: xxx-large;
    position: relative;
    bottom : 300px;
    left : 735px;


}

#ourworldscard {
    height: 70vh;
    width : 100%;
    background-color: #fff;
}

#imgourworld {
    width : 100%;
    height : 100%;
}

#ourworldsimghead {

    position: relative;
    bottom : 350px;
    left: 590px;
    color: #fff;
    font-size: xxx-large;
}

#exploreourworld {
    position: relative;
    bottom : 370px;
    left : 645px;
    font-size: x-large;
    color : white;
    border: 2px solid white;
    padding : 8px;
}

#pursuits{
    padding-top: 250px;
}




